@font-face {
    font-family: vicent;
    src: url('../fonts/bank-gothic-light-bt.ttf');
}

.blur-in{animation:blur-in 0.9s linear} @keyframes blur-in{0%{filter:blur(50px);opacity:0}100%{filter:blur(0);opacity:1}}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    background: rgb(22,40,140);
    background: linear-gradient(228deg, rgba(22,40,140,1) 0%, rgba(2,11,64,1) 86%);
    font-family: vicent;
    overflow-y:hidden;
}

.hero{
    height: 20vh;
    width: 100%;
}

.logo{
    position: fixed;
    left: 4;
    top: 0;
    width: 200px;
    height: 200px;
}

.linea:after{
    content: "";
    display: block;
    margin-top: 5px 0;
    width: 98%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a02e38;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 1s ease-in-out;
}

.linea:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-top: 15px;
    padding-right: 7%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}



nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px
}

nav ul li a:hover{
    transition: 1s;
}

.btn{
    border: none;
    background-color: #a02e38;
    padding: 12px 30px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight:lighter;
    font-size: 15px;
    transition: 1s;
    font-family: vicent;
    letter-spacing: 2px
}

.btn:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #a8a8a8;
}

main{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .cosas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

.conteinerImg{
    position: relative;
    top:0;
    left:0
}

.conteinerImg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.img{
    width: 80%;
}

.img2{
    width: 200px;
}


 .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border-top: 3px solid #F23041;
    border-bottom: 3px solid #F23041; */
    padding: 40px;
} 

.e{
    padding: 100px;
}

.texto .p1{
    /* width: 280px; */
    font-size: 30px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight:lighter;
    padding: 10px;
/*     animation: typing 2.5s steps(27) alternate, blink .5s;
 */
    /* white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black; */

}

.texto .p4{
    font-size: 30px;
    color: whitesmoke;
    letter-spacing: 2px;
    border-bottom: 3px solid #F23041;
    font-weight:lighter;
    padding-bottom: 5px;
}

.texto .p2{
    font-size: 30px;
    color: whitesmoke;
    letter-spacing: 2px;
    border-top: 3px solid #F23041;
    font-weight:lighter;
    padding: 10px;
}

.texto .p3{
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight:lighter;
    padding: 10px;
}

/* @keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
} */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: black;
    padding: 10px 0;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
      
}

.tit2{
    color: #F23041;
}

.cont p{
    color: #a8a8a8;
}

.circ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    height: 2em;
    width: 2em; 
    border-radius: 100%;
    background-color: #9f1e28;
    padding: 10px 0px;
    transition: 0.3s;
}

.circ:hover{
    transition: 0.3s;
    background-color: #a8a8a8;

}

.imgs{
    margin: 0px 10px;
    width: 20px;
    height: 20px;
}